<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View All Routes</title>
  </head>
  <body>
    <div class="page-header">
      <h1>All Routes</h1>
    </div>
    <div class="new-route">
      <h2 id="new-route-background"><%= link_to "Create New Route", new_route_path %></h2>
    </div>

      <div class="row hover-panel">
        <% @routes.each do |route| %>
        <a href="/routes/<%= route.id %>">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h1 class="panel-title">Route: <%= route.route_name %></h1>
              </div>
              <div class="panel-body">
                <h3>Description: <%= route.description %></h3>

                <h3>Region: <%= route.location.region %></h3>
                <h3>Location: <%= route.location.city %>, <%= route.location.state %></h3>

                <h3>Number of pitches: <%= route.pitch.number %></h3>

                <h3>Rating: <%= route.rating.number %></h3>

                <h3>Quality: <%= %></h3>
              </div>
            </a>
              <div class="panel-footer">
                <span class="links"><span id="edit-delete"><h5><%= link_to "Edit", edit_route_path(route) %>
                  <%= link_to "Delete", route_path(route), method: "delete" %></span>
                  <span id="favorites"><%= link_to "Favorite", route_path(route) %></span></span>
                </h5>
              </div>
            </div>
          </div>
          <% end %>
      </div>
  </body>
</html>
