<h1> New Climbing Route:</h1>
<%= form_for @route do |f| %>
  <%= f.label :route_name %>
  <%= f.text_field :route_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
